input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.form_create input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.form_create  input[type=number], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.form_create  input[type=date], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input.main[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.main[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    font-family: sans-serif;
    color: red;
}

h2 {
    font-family: sans-serif;
    color:red;
}

div.form_create {
    float: left;
    width: 99%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}

div.search {
    float: left;
    width: 99%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}

table {
    width: 99%;
}

table, th, td {
    font-family: sans-serif;
    border: 1px solid black;
}

th {
    background:orange;
}

td {
    text-align: center;
    background:palegreen;
}



div.main{
    width: 99%;
    border-radius: 5px;
    background-color:palegoldenrod;
    padding: 5px;
    margin-bottom: 20px;
}


menu {

    font: bold 11px/3.5em Verdana;
    margin-bottom: 20px;

}

h1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin:0;
    padding:0;
}

hr {
    border:none;
    border-top:1px solid #CCCCCC;
    height:1px;
    margin-bottom:25px;
}

#tabs {
    float:left;
    width:99%;
    font-size:93%;
    line-height:normal;
    border-bottom:1px solid #84776B;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    margin-bottom: 40px;
}

#tabs ul {
    float:left;
    width:99%;
    margin:0;
    padding:10px 10px 0 50px;
    list-style:none;
}

#tabs li {
    float:left;
    width:99%;
    display:inline;
    margin:0;
    padding:0;
}

#tabs a {
    float:left;
    background:url("tableft.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}

#tabs a span {
    float:left;
    display:block;
    font-size: 15px;
    background:url("tabright.gif") no-repeat right top;
    padding:2px 30px 4px 6px;
    color:#84776B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
    color:#74675B;
}

#tabs a:hover {
    background-position:0% -42px;
}

#tabs a:hover span {
    background-position:100% -42px;
}

footer {
    float: left;
    width: 99%;
    border-radius: 5px;
    font-family: sans-serif;
    background-color: yellow;
    padding: 5px;
    margin-right: 20px;
}

footer p {
    color:blueviolet;
    font-family:sans-serif;
    float:left;
}

footer p a{
    color:green;
}

div.footer {
    float: left;
    margin-right: 20px;
}